/*Package Page*/
@import url(styles_packages.css);


body{
	overflow-x: hidden;
}
/* .navbar{
	padding: 0 !important;
} */
.navbar-nav a{
	background: linear-gradient(to right, #ddd, red, #ddd) bottom/0% 2px no-repeat;
	transition: 0.3s all;
}
.navbar-nav a:hover{
	background-size: 100% 2px;
}
.dropdown-menu{
	margin-top: 36px;
}

.show {display: block !important;}


.searchBox {
	position: relative;
	display: inline-block;
  }
.search_btn i{
	transition: transform .5s ease-in-out;
}
.search_btn:hover i{
	transform: rotate(360deg);
	color: rgb(235, 106, 106);
}
.search_bar{
	display: none;
	position: absolute;
	margin-top: 37px;
	right: 0;
	min-width: 280px;
	/* overflow: auto; */
	z-index: 9;
}
.close_btn{
	color: red;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: -15px;
	transition: transform .7s ease-in-out;
}
.close_btn:hover{
	transform: rotate(360deg);
}
.search_bar input[type=text]{
	padding: 10px;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	outline: none;
	border: 2px solid #ddd;
}
.search_bar input[type=text]::placeholder{
	color: white;
	font-weight: 400;
}
.search_bar input[type=text]:focus{
	transition: 0.3s ease all;
	color: white;
}

/* Search bar css end */


.meet-sibling-3 a{
	display: block;
	width: 100%;
	height: 100%;
}

.meet-sibling-3{
	display: flex;
	flex-wrap: wrap;

}
.meet-sibling-3 li{
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 33.33%;
	padding: 10px;
}
.meet-sibling-3 li:nth-child(3n){
	border-right: none;
}
.meet-sibling-3 li:nth-child(n+7){
	border-bottom: none;
}
.meet-sibling-3 i {
	transition: transform .7s ease-in-out;
}
.meet-sibling-3 a:hover i {
	transform: rotate(360deg);
	color: rgb(123, 167, 233) !important;
}


.banner-content p{
	font-size: 18px;
}

.info-content p{
	font-size: 16px;
	text-align: justify;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	height: 50px;
	width: 50px;
	padding: 10px;
	border-radius: 50%;
}
#myBtn:hover {
	background-color: rgba(137, 83, 150, .8);
	transition: 0.2s ease;
}
.single-footer-widget h2{
	color: #fff;
}
.footer-area p{
	text-align: justify;
}
.footer-menu{
	list-style: none;
	margin-top: 45px;
}
.footer-menu li a{
	width: fit-content;
	display: block;
	text-decoration: none;
	color: #777777;
	background: linear-gradient(to right, #ddd, red, #ddd) bottom/0% 2px no-repeat;
  	transition: 0.4s all;	
	margin-top: 15px;
}
.footer-menu li a:hover{
	color: white;
	background-size: 100% 2px;
}
